
@{
    ViewData["Title"] = "Error";
}

    <center>
        <span style="font-size:8em;color:yellow; background-color:black; padding:12px; border-radius:5px" class="fas fa-exclamation-triangle"></span><br /><br />
        <h1>Sayfa Bulunamadı</h1>
    </center>