
@{
    string epostaSaglayici = (string)ViewBag.epostaSaglayici;
}
<p>Sitemize üye olurken belirttiğiniz e-posta adresinizi onaylamanız gerekiyor.</p>
<p><a  href="@epostaSaglayici" target="_blank"><i>@epostaSaglayici</i></a></p>
<p>Lütfen gereksiz e-postalar (spam) bölümünü de kontrol ediniz.</p>