@model ofsen.ViewModels.HesaplarUyelikModel

@{
    ViewData["Title"] = "ÜyeOl";
}

<h5>Yeni Üye Kaydı Oluşturun</h5>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3" style="border:solid rgb(111,111,111) 2px; border-radius:5px; padding:2em ">
        <form id="ÜyeOl" asp-action="ÜyeOl" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="eposta" class="control-label"></label>
                <input asp-for="eposta" class="form-control" />
                <span asp-validation-for="eposta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sifre" class="control-label"></label>
                <input asp-for="sifre" class="form-control" />
                <span asp-validation-for="sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sifreTekrar" class="control-label"></label>
                <input asp-for="sifreTekrar" class="form-control" />
                <span asp-validation-for="sifreTekrar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kullaniciAdi" class="control-label"></label>
                <input asp-for="kullaniciAdi" class="form-control" />
                <span asp-validation-for="kullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Üye Ol" class="btn btn-outline-dark form-control" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script>

        $(document).ready(function () {
            $(document).on('focus', ':input', function () {
                $(this).attr('autocomplete', 'off');
            });
        });

        $("#ÜyeOl").validate({
            rules: {
                kullaniciAdi: { required: true, minlength: 4, maxlength: 12 },
                eposta: { required: true, email: true },
                sifre: { required: true, minlength: 4, maxlength: 12 },
                sifreTekrar: { equalTo: "#sifre" },
            },
            errorElement: "em",
            errorPlacement: function (error, element) {

                error.addClass("input-Validation-Block");

                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass("alert-danger").removeClass("alert-success");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).addClass("alert-success").removeClass("alert-danger");
            }

        });
    </script>

}


